version: "3.9"

volumes:
  ny_taxi_postgres_data:
    driver: local
  kestra_postgres_data:
    driver: local
  kestra_data:
    driver: local
  kestra_tmp:
    driver: local

services:
  # ----------------------
  # Taxi Project Database (Module 2)
  # ----------------------
  pgdatabase:
    image: postgres:18
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: root
      POSTGRES_DB: ny_taxi
    ports:
      - "5432:5432"    # keep different from Module 1 (which uses 5433)
    volumes:
      - ny_taxi_postgres_data:/var/lib/postgresql

  pgadmin:
    image: dpage/pgadmin4
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: root
    ports:
      - "8085:80"      # keep different from Module 1 (which uses 8080)
    depends_on:
      pgdatabase:
        condition: service_started

  # ----------------------
  # Kestra Metadata Database
  # ----------------------
  kestra_postgres:
    image: postgres:18
    environment:
      POSTGRES_DB: kestra
      POSTGRES_USER: kestra
      POSTGRES_PASSWORD: k3str4
    volumes:
      - kestra_postgres_data:/var/lib/postgresql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -d $${POSTGRES_DB} -U $${POSTGRES_USER}"]
      interval: 30s
      timeout: 10s
      retries: 10

  # ----------------------
  # Kestra Server
  # ----------------------
  kestra:
    image: kestra/kestra:v1.1
    pull_policy: always
    user: "root"
    command: server standalone

    volumes:
      - kestra_data:/app/storage
      - /var/run/docker.sock:/var/run/docker.sock
      - kestra_tmp:/tmp/kestra-wd

    environment:
      KESTRA_CONFIGURATION: |
        datasources:
          postgres:
            url: jdbc:postgresql://kestra_postgres:5432/kestra
            driverClassName: org.postgresql.Driver
            username: kestra
            password: k3str4

        kestra:
          server:
            basicAuth:
              username: "admin@kestra.io"
              password: Admin1234!

          repository:
            type: postgres

          storage:
            type: local
            local:
              basePath: "/app/storage"

          queue:
            type: postgres

          tasks:
            tmpDir:
              path: /tmp/kestra-wd/tmp

          url: http://localhost:8081/

    ports:
      - "8081:8080"   # Kestra UI
      - "8082:8081"   # Kestra internal port (optional)

    depends_on:
      kestra_postgres:
        condition: service_started
        